body {
  height: 100vh;
  box-sizing: border-box;
}
* {
  margin: 0;
}
.container {
  display: flex;
}
aside,
nav,
footer,
main {
  border: 5px solid grey;
}
aside {
  width: 20%;
  background-color: pink;
  order: 2;
  font-size: 2vw;
}
main {
  width: 80%;
  height: 70vh;
  font-size: 1.5vw;
  background-color: aqua;
  order: 1;
}
main > article > h1 {
  text-align: center;
}

nav > ul {
text-transform: uppercase;
  display: flex;
  gap: 20vh;

  list-style: none;
  text-decoration: none;
}
nav {
  background-color: pink;
  padding: 1.5vh;
font-size: 4vh;
  text-decoration: none;

}
nav > ul > li > a {
  text-decoration: none;
}
footer {
    display: flex;
  height: 20%;
  justify-content: middle;
  align-items: center;
}
aside > h1 {
  padding: 4vh;
}
p, h1, h3 {
padding-bottom: 25px;
}
button {
   background-color: black;
   color: white;
   padding-left: 10px;
   padding-right: 10px; 
}
input {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: middle;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    nav {
        font-size: 2vh;
        padding: 1.5vh;
        gap: 0;
      }
      nav>ul {
        gap: 3vh; 
      }
    }